@model Models.User

<td>
    @Html.DisplayFor(model => model.Id)
</td>
<td>
    @Html.DisplayFor(model => model.Login)
</td>
<td>
    @Html.DisplayFor(model => model.Password)
</td>
<td>
    @Html.DisplayFor(model => model.Role)
</td>